@use "common/" as *;

* {
  border: none;
  margin: 0;
  padding: 0;
  font-family: $ff-standard;
}
html {
  height: 100%;
}
body {
  background-color: $primary-color;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

img {
  height: 600px;
  width: 350px;
  border-radius: 10px;
  margin-right: 2rem;
  box-shadow: $secondary-color 0 0 12px;
}

.content {
  flex-direction: column;
  letter-spacing: 2px;
  margin-left: 25px;

  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: $title;
  }

  h2 {
    margin: 18px 0 8px 0;
    color: $sub-title;
  }

  span {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 23px;
    color: $text;
  }
}

.work {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  min-width: 24rem;
  margin: 10%;
  margin-right: 30px;

  article:nth-child(2),
  article:nth-child(4) {
    margin-left: 30px;
  }

  ul {
    list-style: none;
    line-height: 22px;
  }

  li {
    text-indent: 15px;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: $text;
  }

  a:hover {
    font-style: italic;
    color: $text-hvr;
  }
}
